/* CartItem.module.css */
.item {
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  text-align:center;
  }
  .productContents{
    display:flex;
    align-items: center;
  }
  .checkBoxStyle{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
    padding: 1px;
  }
  .checked{
    color:#df0011;
  }
  .unchecked{
    color: white;
    background-color: silver;
  }
  .itemImage{
    cursor: pointer;
    width: 90px;
    height: 90px;
  }
  .itemImage img{
    width: 90px;
    height: 90px;
  }
  .itemContents {
    text-align:left;
    cursor: pointer;
    overflow: hidden;
    margin-left: 15px;
  }
  .itemContents p{
    white-space: nowrap;     
    overflow: hidden;        
    text-overflow: ellipsis;
  }
  .itemDescription{
    color: #888;
    font-size: 12px;
  }
  .itemPrice{
    /* width:140px; */
    white-space: nowrap;   
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .quantityControl{
    display: flex;
    padding: 2px 5px;
    border-radius: 17px;
    border: 1px solid rgb(224, 224, 224);
    background: rgb(255, 255, 255);
  }
  .quantityControl p{
    flex:1;
  }
  .button {
    flex:1;
    background-color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
  }
  
  