.headerTitle{
    margin-bottom: 50px;
    margin-top: 50px;
}
.headerSubTitle{
    color:rgb(223, 0, 17);
    font-weight: 700;
}
.orderStatusBtnContainer{
    display: flex;
    margin-bottom: 30px;
}
.orderButton{
    flex: 1 1;
    border: none;
    background-color: white;
    cursor: pointer;
    height: 35px;
}
.active{
    color: rgb(223, 0, 17);
    font-weight: bold;
    border-bottom: solid 2px;
}
.noOrderList{
    display: flex;
    justify-content: center;
}
.headerTitleContainer{
    display: flex;
    border-bottom: solid 2px;
    border-top: solid 2px;
    padding-top:10px;
    padding-bottom:10px;
}
.headerSpan{
    flex:1;
    text-align: center;
}
.headerPrice{
    flex:0 0 120px;
    text-align: center;
}
.headerProductName{
    flex:3;
    text-align: center;
}
.content{
    display: flex;
    text-align: center;
    margin-top:15px;
}
.createDate{
    flex:1;
}
.orderId{
    flex:1;
    font-weight: 500;
}
.productNameAndInformation{
    flex:3;
}
.price{
    flex:0 0 120px;
    color:rgb(223, 0, 17);
    font-weight: 500;
}
.cancelBtn{
    flex:1;
}
.cancelBtn button{
    border: solid 1px #636161;
    background-color: white;
    cursor: pointer;
}
.orderDetail{

}
.orderItemBox{
    display: flex;
    padding-top:15px;
    padding-bottom: 15px;
    border-bottom:1px solid #ddd;
    align-items: center;
}
.orderItemImg{
    width: 90px;
    height: 90px;
    border: solid 1px #dbd7d7;
}
.orderItemImg img{
    width: 90px;
    height: 90px;
}
.orderItemImg p{
    width: 90px;
    height: 90px;
    text-align: center;
}
.orderItemName{
    flex: 0 0 270px;
    margin-left:15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.orderItemPrice{
    flex: 0 0 115px;
    text-align: center;
}
.orderItemQuantity{
    flex:1;
    text-align: center;
}
.orderItemStatus{
    flex:1;
    text-align: center;
}
.orderItemCancelBtn{
    flex:1;
    text-align: center;
}
.orderItemCancelBtn button{
    border:solid 1px rgb(197, 197, 197);
    background-color: white;
    cursor: pointer;
}
.orderAction{
    text-align: center;
    cursor: pointer;
    border:solid 1px rgb(255, 255, 255);
    margin-bottom:15px;
}
.addButton button{
    display: block;
    width: 100%;
    height: 48px;
    border: 1px solid rgb(102, 102, 102);
    border-radius: 6px;
    background: none;
    cursor: pointer;
}
.expandedTitle{
    display: flex;
    padding-top:15px;
    padding-bottom: 15px;
    border-bottom:1px solid #ddd;
    align-items: center;
}
.expandedImg{
    flex: 0 0 92px;
    text-align: center;
}
.expandedName{
    flex: 0 0 270px;
    margin-left:15px;
    text-align: center;
}
.expandedPrice{
    flex: 0 0 115px;
    text-align: center;
}
.expandedQuantity{
    flex:1;
    text-align: center;
}
.expandedStatus{
    flex:1;
    text-align: center;
}
.expandedCancel{
    flex:1;
    text-align: center;
}
