/* Header.module.css */

.header {
  width: 100%; 
  min-width: 1200px; 
  background-color: #333;
  color: #fff;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 900;
}
.logo {
  margin-left: 50px;
}
.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}



 .navbar {
  display: flex;
  align-items: center;
}

.navLinks {
  display: flex;
  list-style: none;
  padding: 0px;
}

.navLinksText{
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
.navLinksText:hover {
  background-color: #555;
  border-radius: 4px;
}
.dropdown {
  position: relative;
  margin-right: 15px;
}
.dropdownButton{
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border:none;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.dropdownMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #333;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0;
  margin: 0;
  width: max-content;
  margin-top: 10px;
  list-style: none;
}
.dropdownMenu li {
  padding: 12px 16px;
}
.searchBar {
  display: flex;
  align-items: center;
}

.searchBar input {
  padding: 5px 0px;
  padding-left: 3px;
  border: none;
  border-radius: 4px;
  width: 200px;
  margin-right:5px;
}

.searchBar button {
  padding: 5px 10px;
  border: none;
  background-color: #e91e63;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchBar button:hover {
  background-color: #d81b60;
}

.cart{
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 15px;
  margin-left: 15px;
}
.cart a{
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

.cartCount{
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: #e91e63;
  color: #fff;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.8rem;
}
.inActive{
  display: none;
}
.user {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 15px;
  margin-left: 15px;
}
.userIconButton{
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
.myDropDownMenu{
  position: absolute;
  top: 100%;
  right: 0px;
  display: flex;
  flex-direction: column;
  background-color: #333;
  padding: 0px;
  text-align: center;
  width: max-content;
  z-index: 1;
  list-style: none;
}
.myDropDownMenu li{
  padding: 12px 16px;
}
.myDropDownMenu li a{
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
.myDropDownMenu li button{
  border:none;
  background-color: #333;
  color: #fff;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
} 