/* src/ProductDetail.module.css */

.productDetail {
  margin-top:20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  }
  .productContent{
    display: flex;
  }
  .imgContainer{
    flex:1;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contentContainer{
    flex:1;
    text-align: left;
  }
  
  .imgContainer img {
    width: 400px;
    height: 400px;
    border-radius: 8px;
    /* margin-bottom: 20px; */
  }
  .imgContainer p{

  }
  
  .textContainer h1 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .textContainer p {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #666;
  }
  
  .textContainer .price {
    font-weight: bold;
    color: #007bff;
  }
  
  .textContainer .createdDate {
    font-style: italic;
    color: #999;
  }
  
  .addToCartButton, .buyNowButton {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    height: 3rem;
  }
  
  .addToCartButton {
    background-color:  #ff0606;
    color: #fff;
    width: 250px;
  }
  
  .buyNowButton {
    background-color:  #000000;
    color: #fff;
    width: 150px;
  }
  .cartContainer{
    background-color: rgb(246, 246, 246);
    padding: 15px 10px 20px 10px;
  }
  .cartItemContainer {
    background-color: white;
    display: flex;
    flex-direction: column; 
    padding: 10px;
    border: 1px solid #ddd; 
    
  }
  .cartQuantityAndPrice{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .quantityControls {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    text-align: center;
    padding: 2px 5px;
    border-radius: 17px;
    border: 1px solid rgb(224, 224, 224);
    background: rgb(255, 255, 255);
  }
  
  .controlButton {
    background-color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
  }
  
  .quantity {
    font-size: 16px;
    margin: 0 10px;
    width: 100%;
  }
  .reviewAndBtnContainer{
    display: flex;
  }
  .reviewContainer{
    flex:1
  }
  .buttonGroup {
    display: flex;
    margin-top: 40px;
    flex:1;
    justify-content: end;
  }
  .reviewContainer button{
    display: block;
    width: 100%;
    height: 48px;
    border: 1px solid rgb(102, 102, 102);
    border-radius: 6px;
    background: none;
    cursor: pointer;
    margin-top:10px;
  }